In [1]:
import pandas as pd
import numpy as np

In [3]:
!pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

[notice] A new release of pip is available: 23.1.2 -> 23.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
df = pd.read_excel("ml03_df.xlsx", sheet_name="saitama_temp_202308")
df

          年月日  平均気温  最高気温  最低気温
0  2023-08-01  26.9  31.0  23.8
1  2023-08-02  28.9  35.9  23.0
2  2023-08-03  30.2  35.9  25.0
3  2023-08-04  31.5  37.9  25.7
4  2023-08-05  31.0  36.6  26.9
5  2023-08-06  29.7  34.1  27.0
6  2023-08-07  30.1  35.0  26.6
7  2023-08-08  29.2  35.2  25.4
8  2023-08-09  28.3  32.9  26.0
9  2023-08-10  29.8  34.6  26.5
10 2023-08-11  28.9  34.0  25.0
11 2023-08-12  30.0  35.6  25.5
12 2023-08-13  28.0  32.1  25.3
13 2023-08-14  28.7  32.3  26.4
14 2023-08-15  29.0  32.5  26.1
15 2023-08-16  28.7  32.0  26.1
16 2023-08-17  30.1  35.3  25.9
17 2023-08-18  30.2  35.8  26.6
18 2023-08-19  30.2  36.0  26.3
19 2023-08-20  30.7  35.6  26.1
20 2023-08-21  30.1  34.3  26.0
21 2023-08-22  28.2  32.2  26.3
22 2023-08-23  29.4  33.9  26.7
23 2023-08-24  29.8  34.0  26.1
24 2023-08-25  30.1  35.3  25.9
25 2023-08-26  29.0  33.3  25.8
26 2023-08-27  27.5  31.9  24.1
27 2023-08-28  29.8  35.5  25.2
28 2023-08-29  29.8  36.3  25.1
29 2023-08-30  29.8  35.1  25.7
30 2023-08-31  30.0  35.0  26.9

In [9]:
df.describe()

                       年月日       平均気温       最高気温       最低気温
count                   31  31.000000  31.000000  31.000000
mean   2023-08-16 00:00:00  29.470968  34.422581  25.774194
min    2023-08-01 00:00:00  26.900000  31.000000  23.000000
25%    2023-08-08 12:00:00  28.900000  33.100000  25.350000
50%    2023-08-16 00:00:00  29.800000  35.000000  26.000000
75%    2023-08-23 12:00:00  30.100000  35.600000  26.350000
max    2023-08-31 00:00:00  31.500000  37.900000  27.000000
std                    NaN   1.005052   1.664874   0.915047

In [17]:
df[df["最高気温"] >= 35]

          年月日  平均気温  最高気温  最低気温
1  2023-08-02  28.9  35.9  23.0
2  2023-08-03  30.2  35.9  25.0
3  2023-08-04  31.5  37.9  25.7
4  2023-08-05  31.0  36.6  26.9
6  2023-08-07  30.1  35.0  26.6
7  2023-08-08  29.2  35.2  25.4
11 2023-08-12  30.0  35.6  25.5
16 2023-08-17  30.1  35.3  25.9
17 2023-08-18  30.2  35.8  26.6
18 2023-08-19  30.2  36.0  26.3
19 2023-08-20  30.7  35.6  26.1
24 2023-08-25  30.1  35.3  25.9
27 2023-08-28  29.8  35.5  25.2
28 2023-08-29  29.8  36.3  25.1
29 2023-08-30  29.8  35.1  25.7
30 2023-08-31  30.0  35.0  26.9

In [26]:
mask = (df["最低気温"] >= 25) & (df["最高気温"] >= 35)
len(df[mask])

15